apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: redis-monitoring-replication
  namespace: prometheus
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: redis-replication
  endpoints:
    - port: redis-exporter
      interval: 30s
      scrapeTimeout: 10s
  namespaceSelector:
    matchNames:
      - ${namespace}
