apiVersion: redis.redis.opstreelabs.in/v1beta2
kind: Redis
metadata:
  name: redis-standalone
  namespace: ${namespace}
spec:
  podSecurityContext:
    runAsUser: 1000
    fsGroup: 1000
  kubernetesConfig:
    image: quay.io/opstree/redis:v7.0.12
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 101m
        memory: 128Mi
      limits:
        cpu: 101m
        memory: 128Mi
  redisExporter:
    enabled: true
    image: quay.io/opstree/redis-exporter:v1.48.0
    imagePullPolicy: Always
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 100m
        memory: 128Mi
  env:
    - name: REDIS_EXPORTER_INCL_SYSTEM_METRICS
      value: "true"
  storage:
    volumeClaimTemplate:
      spec:
        # storageClassName: longhorn
        storageClassName: hcloud-volumes
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi
