apiVersion: redis.redis.opstreelabs.in/v1beta2
kind: RedisSentinel
metadata:
  name: redis-sentinel
  namespace: ${namespace}
spec:
  clusterSize: 3
  podSecurityContext:
    runAsUser: 1000
    fsGroup: 1000
  pdb:
    enabled: false
    minAvailable: 1
  redisSentinelConfig:
    redisReplicationName: redis-replication
  kubernetesConfig:
    image: quay.io/opstree/redis-sentinel:v7.0.15
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 101m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 1Gi
  redisExporter:
    enabled: true
    image: quay.io/opstree/redis-exporter:v1.48.0
    imagePullPolicy: Always
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        cpu: 750m
        memory: 128Mi
  env:
    - name: REDIS_EXPORTER_INCL_SYSTEM_METRICS
      value: "true"
  # affinity:
  #     podAntiAffinity:
  #       requiredDuringSchedulingIgnoredDuringExecution:
  #         - labelSelector:
  #             matchExpressions:
  #               - key: app
  #                 operator: In
  #                 values:
  #                   - redis-sentinel-sentinel
  #           topologyKey: "kubernetes.io/hostname"
  # readinessProbe:
  #   failureThreshold: 5
  #   initialDelaySeconds: 30
  #   periodSeconds: 15
  #   successThreshold: 1
  #   timeoutSeconds: 5
  # livenessProbe:
  #   failureThreshold: 5
  #   initialDelaySeconds: 30
  #   periodSeconds: 15
  #   successThreshold: 1
  #   timeoutSeconds: 5
